<footer class="footer">
  <div class="contenedor">
    <div class="barra">
      <a class="logo" routerLink="">
        <h1 class="logo__nombre no-margin centrar-texto">
          Blog<span class="logo__bold">DeCafé</span>
        </h1>
      </a>
      <nav class="navegacion">
        <a routerLink="nosotros" class="navegacion__enlace">Nosotros</a>
        <a routerLink="cursos" class="navegacion__enlace">Cursos</a>
        <a routerLink="contacto" class="navegacion__enlace">Contacto</a>
      </nav>
    </div>
  </div>
</footer>
